@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url(./assets/css/menu.css);
@import url(./assets/css/rodape.css);

:root{
  --azul-principal: #077CDB;
  --azul-sec: #005CA7;
  --branco: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}